/*
	Description: Grid 1080px Master Stylesheet
	Media: Screen
	Version: Jun 30 2009
	Author: Rodrigo Galindez
	Author URI: http://www.rodrigogalindez.com
*/

.col {
	margin-right: 2.4em;
	float: left;
}

.last {
	margin-right: 0;
}

.span-1 {
	width: 6.8em;
}

.nudge-1 {
	padding-left: 7.6em;
}

.span-2 {
	width: 16em;
}

.nudge-2 {
	padding-left: 8.4em;
}

.span-3 {
	width: 25.2em;
}

.nudge-3 {
	padding-left: 22.8em;
}

.span-4 {
	width: 34.4em;
}

.nudge-4 {
	padding-left: 30.4em;
}

.span-5 {
	width: 43.6em;
}

.nudge-5 {
	padding-left: 38em;
}

.span-6 {
	width: 52.8em;
}

.nudge-6 {
	padding-left: 45.6em;
}

.span-7 {
	width: 62em;
}

.nudge-7 {
	padding-left: 53.2em;
}

.span-8 {
	width: 71.2em;
}

.nudge-8 {
	padding-left: 60.8em;
}

.span-9 {
	width: 80.4em;
}

.nudge-9 {
	padding-left: 68.4em;
}

.span-10 {
	width: 89.6em;
}

.nudge-10 {
	padding-left: 76em;
}

.span-11 {
	width: 98.8em;
}

.nudge-11 {
	padding-left: 83.6em;
}

.span-12 {
	width: 108em;
}
