/*
	Description: Experimental Master Stylesheet
	Media: Screen
	Version: Jun 30 2009
	Author: Rodrigo Galindez
	Author URI: http://www.rodrigogalindez.com
*/

@import url(grid-1080.css);

/* ----------------------------------------------- [ * ] */

* {
	margin: 0;
	padding: 0;
}

/* -------------------------------- [ General Elements ] */

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 62.5%;
/*	background: transparent url(../images/grid-1080.gif) repeat-y top center; */
/*	background-color: #fff;*/
	color: #333;
}

hr {
	display: none;
}

img {
	vertical-align: middle;
}

h1 {
	/*margin-bottom: .3em;*/
	padding-left: 8px;
	padding-right: 8px;
	font-size: 4.6em;
	line-height: .95em;
}

h2 {
	margin-bottom: 2.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 3em;
	line-height: 1.3;
}

h3 {
	margin-bottom: 1.5em;
	padding-left: 8px;
	padding-right: 8px;
}

h4 {
	margin-bottom: .8em;
	font-size: 1.3em;
	line-height: 1.6;
}

h5 {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;	
	font-size: 1.2em;
	line-height: 1.6;
}

p {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.2em;
	line-height: 1.7;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

a:hover {
	color: #0F83DB;
}

acronym {
	border-bottom: 1px dotted #eee;
}

kbd {
	font-family: "Monaco", "Courier New", fixed;
	font-size: 1em;
	text-transform: uppercase;
}

input {
	width: 93%;
	padding: .4em;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.2em;
}

#wrapper {	
	margin: 0 auto;
	margin-top: 4em;
}

#header {
	margin: 0 0 1.2em 0;
	padding: 2.5em 0 2.5em 100px;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	color: #111;
	background: transparent url(../images/community.png) no-repeat left 8px;

}

#pages {
	margin: 0 0 .5em 0;
	padding: 0 8px;
	overflow: hidden;
}

#pages ul {
	list-style-type: none;
	width: 180px;
	float: right;
}

#pages li {
	margin: 0 2.4em 0 0;
	font-size: 1.2em;
	line-height: 1.65;
	float: left;
}

#pages li a{
	color: #C5C5C5;
}


#content {
	clear: both;
	overflow: hidden;
}

.post {
	margin: 0 0 0 0;
	padding: 1.3em 0 2em 0;
	/*border-top: 1px solid #ddd;*/
	overflow: hidden;
}

.post-meta {
	text-align: right;
}

.post-content h3 {
	margin-bottom: .4em;
	font-size: 2.4em;
	line-height: 1.3;
}

.post-content h5 {
	margin-top: 2em;
	font-size: 1.7em;
	line-height: 1.4;
}

.post-content p {
	width: 43em;
}

.post-content div.half-size {
	width: 62em;
}

.post-content ul {
	margin-bottom: 1em;
	padding: 0 8px;
}

.post-content li {
	margin-bottom: 1.3em;
	font-size: 1.4em;
	line-height: 1.65;
}

.post-content blockquote {
	margin-left: -18.4em;
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
}

.post-content blockquote p:before, .post-content blockquote p:after {
	font-size: 1.6em;
	vertical-align: middle;
	content: '"';
}

.post-content blockquote p {
	width: 14em;
	margin-bottom: .8em;
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-size: 1.6em;
	font-style: italic;
	line-height: 1.5;
	text-indent: -.6em;
}

.post-meta span {
	display: block;
	padding: 0 8px .3em 8px;
	font-size: 2.4em;
	line-height: 1.3;
	color: #111;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	color: #111;
}

.post-meta ul {
	list-style-type: none;
}

.post-meta li {
	padding: .5em 8px;
	font-size: 1.3em;
	line-height: 1.5;
	border-bottom: 1px solid #ddd;
}

.post p {
	font-size: 1.4em;
	line-height: 1.65;
}

.section {
	margin: 0 0 4em 0;
}

.section ul {
	list-style-type: none;
}

.section li {
	padding: .5em 8px;
	font-size: 1.2em;
	line-height: 1.6;
	border-bottom: 1px solid #ddd;
}

.section h3, h4 {
	padding: 0 8px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.4;
}

.section h3 {
	margin-bottom: 1em;
	padding-bottom: .8em;
	border-bottom: 1px solid #ddd;
}

#about h3, #search h3 {
	margin-bottom: 1.4em;
}

#tags {
	padding: 0 8px;
}

#tags a {
	padding-right: .5em;
	font-size: 1.2em;
	line-height: 1.7;
}

span.amp {
	font-family: Baskerville, Georgia, "Times New Roman", sans-serif;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	color: #999;
}

span.by {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	text-transform: lowercase;
	color: #999;
}

img.centered {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

p.meta {
	margin-bottom: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: right;
}

p.meta em {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	text-transform: lowercase;
	font-weight: normal;
}

img.avatar {
	width: 60px;
	height: 68px;
	border: 6px solid #eee;
	margin-right: 12px;
	margin-bottom: 2px;
	float: left;
}

img.logos {
	height: 70px;
	margin: 0 50px 40px 0;
	float: left;
}

#twitter blockquote p {
	padding: 0;
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-size: 1.4em;
	font-style: italic;
	line-height: 1.3;
	text-indent: -.6em;
}

#twitter blockquote p:before, #twitter blockquote p:after {
	font-size: 1.4em;
	vertical-align: middle;
	content: '"';
}

#footer {
	/*height: 7.4em;*/
	padding: 1.9em 0 1em 8px;
	margin: 2em 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	clear: both;
	overflow: hidden;
}

#footer p {
	margin-bottom: 0;
	font-size: 1.2em;
}

img.full-width {
	display: block;
	margin-left: -18.4em;
	margin-bottom: 2em;
}

p.full-width-caption {
	width: 11.2em;
	margin-left: -14.4em;
	font-size: 1.3em;
	font-style: italic;
	color: #999;
	float: left;
}

div.half-size p.caption {
	font-size: 1.3em;
	font-style: italic;
	text-align: center;
	color: #999;
}

p#foo {
	margin-top: .13em;
	font-size: 4.6em;
	font-weight: bold;
	color: #111;
	float: right;
}

p#foo em {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	color: #999;
}

em.red{
	color: #c00;
}
